@model tutor1.Models.Entity.ClinicOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClinicOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="clinicOrder_seqid" class="control-label"></label>
                <input asp-for="clinicOrder_seqid" class="form-control" />
                <span asp-validation-for="clinicOrder_seqid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfClinicOrder" class="control-label"></label>
                <input asp-for="DateOfClinicOrder" class="form-control" />
                <span asp-validation-for="DateOfClinicOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seeDoctor" class="control-label"></label>
                <input asp-for="seeDoctor" class="form-control" />
                <span asp-validation-for="seeDoctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedTime" class="control-label"></label>
                <input asp-for="LastUpdatedTime" class="form-control" />
                <span asp-validation-for="LastUpdatedTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

